
.cardA{
    position: relative;
    top: 0;
    height: 16vh;
    width: 20vw;
    border-style: dashed;
    border-width: 4px;
    border-color: #d4d8de;
    border-radius: 10px;
    background-color: #e9ebee;
}
.InputImageA{
    position: absolute;
    bottom: -24px;
    right: -22px;
}
.PhotosContainer{
    display: flex;
    gap: 10px;
    margin-left: 15%;
}
.TopPhotosContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30%;
}